

body  {
 padding: 10px;
 background-image: url("91657.jpg")
}

/* custom font */
/* place .ttf in resources on github and change the .ttf in quotes to switch fonts */

@font-face {
    font-family: customFont;
    src: url("SuperMarioBros-ov7d.ttf");
}
@font-face {
    font-family: customFont2;
    src: url("MarioWorldPixelColor-3zBwX.ttf");
}
/* header styles */
/* change text color with the "color:" property use hex colors for best results */
/* change font size with the "font-size:" property */

.header {
padding: 0px;
font-style:normal;
font-family: customfont;
}


.header h1 {
  color: #E52521;
  font-family: 'customFont';
  font-size: 100px;
  text-align: center;
  font-weight:normal;
}

.image-wrapper {
	padding: 10px;
	width: 100% ;
	text-align: center;
  border-radius: 10px 10px 10px 10px;
}





/* body text styles */
/* change text color with the "color:" property use hex colors for best results */
/* change font size with the "font-size:" property */
/* text on top of page */
.info {
	padding: 0px;
}

.info h1 {
	font-family: 'customFont2';
	font-size: 150%;
	text-align: center;
	font-weight: thin;
	animation: fadeIn 5s;
	-webkit-animation: fadeIn 5s;
}

/* for h1 fade */
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }



 .info p {
	color: rgb(4, 19, 240);
	font-family: 'customFont';
	font-size: 30px;
	text-align: center;
}
/* text above bottom photos */
.infoTwo {
	padding: 0px;
 }

.infoTwo h1 {
	color: rgb(111, 18, 218);
	font-family: 'customFont';
	font-size: 100%;
	text-align: center;
}

 .infoTwo p {
	color: rgb(111, 18, 218);
	font-family: 'customFont';
	font-size: 30px;
	text-align: center;
}

/* images styles - centering */

.images{
	padding: 10px;
	text-align: center;
	}

/* this is text that displays above images on homepage */
/* change text color with the "color:" property use hex colors for best results */

.images p {
	color: red;
	text-align: center;
	font-size: 10px;
}


/* facebook wrapper - just centers facebook embed */
.facebookWrapper {
	text-align: center;
}


/* hours colors + sizes */
.hours {
	padding: 0px;
}

.hours h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: customFont;
  text-align: center;
  font-size: 6rem;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hours h2 {
	padding: 10px;
	color: green;
	text-align: center;
	font-family: customFont;
}
.hours h3 {
	padding: 10px;
	color: red;
	text-align: center;
	font-family: customFont;
}


/* footer */
.footer {
  position: fixed;
  padding: 1px;
  text-align: center;
  color: rgb(117, 115, 115);
  background: transparent;
  bottom: 0%;
  left: 0%;
  font-size: 10px;
}



